name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: List variants
        run: ./gradlew tasks --all | grep Debug

      - name: Build APK
        run: ./gradlew installGplayDebug

      - name: Copy APK to project root
        run: |
          APK_PATH=$(find . -type f -name "*.apk" | head -n 1)
          cp "$APK_PATH" ./diia-debug.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: diia-debug.apk
